<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!-- pattern>%d [%thread] %level %logger - %m%n</pattern -->
			<pattern>%d %level %logger - %m%n</pattern>
		</encoder>
	</appender>
	<root level="${capsule.desktop.logLevel:-INFO}">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
